<!DOCTYPE html>
<html>
<head>
  <title>BijoBijo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="mainBackgroundImage">

    <div class="sideMenu">
      <div class="siteLogoImage">
        <%= image_tag("http://bijodoku.com/wp-content/uploads/digipress/voyageur/title/logo2.png")%>
        <p class="siteLogoTitle">美女で、仕事を楽しくする。</p>
      </div>

      <div class="siteContentsLists">
        <ul>
          <a src="#" class="siteListLink"><li class="siteContentsList">Home</li></a>
          <a src="#" class="siteListLink"><li class="siteContentsList">Concept</li></a>
          <a src="#" class="siteListLink"><li class="siteContentsList">News</li></a>
          <a src="#" class="siteListLink"><li class="siteContentsList">Models</li></a>
        </ul>
      </div>
    </div>
    <div class="ladiesContent">
      <%= yield %>
    </div>
  </div>


</body>
</html>
